// Fonts
$font_main: 'Raleway', sans-serif;
$font_accent: 'Playfair Display', serif;
$font_secondary: 'Roboto', sans-serif;

// Colors
$dark: #242B33;
$light: #e3eaf1;
$accent: #f0f6ba;
$hover: #2d3742;
$click: #3a516b;
$active: #36708f;
$white: #fff;
$grey: #505760;